* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  font-family: 'Orbitron', sans-serif;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(87, 184, 252, 1) 50%
  );
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hed-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hed-nav ul a{
  color: #fff;
}
.hed-nav ul a:hover {
  color: #FAC422  ;
}

.btn-hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-hed button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-hed a {
  padding: 13px 31px;
  background-color: transparent;
  color: #fff;
  border: none;
}
.burger{

  display: none;
  background: transparent;
  border: none;
}
.close {
  display: none;
  background: transparent;
  border: none;
}


.btn-hed a:hover {
  background-color: #000000;
}

.hed-2{
  padding-bottom: 250px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tex-1{
  padding-top: 200px;
}

.live{
  padding-top: 200px;
}




.tex-1 a{
  padding: 13px 31px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.tex-1 a:hover{
  background-color: #57B8FF;

}
.tex-1 span{
  color: #57B8FF ;
  font-size: 16px;
  margin-bottom: 24px;
}
.tex-1 h1{
  font-weight: 400;
  font-size: 72px;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.tex-1 p{
  color: #999999;
  margin-bottom: 72px
}



.hero2{
  background-image: url(../imgs/bagrond2.png);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: center center;

}

.needs{
  text-align: center;
  padding-top: 136px;
}

.needs span{
  color: #57B8FF;
  font-size: 16px;
  margin-bottom:22px ;
  display: inline-block;
}

.needs h2{
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  color: #fff;
  margin-bottom: 28px;
}

.needs p{
  font-size: 20px;
  color:#999999 ;
}

.cart{
  padding: 32px 46px;
  width: 642.46px;
  background-color: rgba(255, 255,255, 0.2);
  margin-bottom: 32px;
  border-radius: 20px;
}

.cart span{
   color: #dad8d8;
   font-size: 32px;
   display: inline-block;
}

.cart p{
  font-size: 18px;
  color:#999999 ;
}

.big-cart{
  padding-top: 60px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero3 {
  background-color: #000000;
}

.cloud{
  padding-top: 130px;
  padding-bottom: 145px;
}

.cloud span{
  color: #57B8FF ;
  font-size: 16px;
  margin-bottom: 24px;
  padding-bottom: 22px;
  display: inline-block
}
.cloud h2{
  font-size: 64px;
  font-weight: 400;
  color: #FFFFFF;
}

.cloud p{
  padding-top: 38px;
  color: rgba(223, 223, 223, 0.8);
  font-size: 20px;
  padding-bottom: 55px;
}

.cloud a{
  padding: 13px 31px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.cloud a:hover{
  background-color: #57B8FF;

}

.vidyo{
  position: relative;
}

.vidyo image{
  position: relative;
}

.vidyo button{
  position: absolute;
  top: 200px ;
  left: 170px;
 
 
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.sekt-3{
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 850px) {
  .hero {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(87, 184, 252, 1) 50%
    );
  }
  .hed-2{
   text-align: center;
    flex-flow: column;
   
  }
  .tex-1 h1{
    font-size: 52px;
  }

  .needs h2{
    font-size: 45px;
  }
  .big-cart{
    flex-flow: column;
    text-align: center;
  }
  .btn-hed a:hover {
    background-color: #57B8FF;
  }
  .burger{
    display: block;
  }
  .hed-nav ul {
    display: none;
}
.sekt-3{
  flex-flow: column;
  text-align: center;
}
.cloud h2{
  font-size: 45px;
}
.cloud p {
  padding-top: 38px;
  color: rgba(223, 223, 223, 0.8);
  font-size: 14px;
  padding-bottom: 55px;
}
.needs p {
  font-size: 14px;
  color: #999999;
}
.cart p {
  font-size: 12px;
  color: #999999;
}
  
}